#app {
  min-height: 100vh;
  column-gap: 15px;
  row-gap: 15px;
}
#app .content_card {
  max-height: 500px;
  overflow: hidden;
}
#app .content_card img {
  width: 100%;
  height: 250px;
}
#app .content_card div a button {
  width: 100%;
}
#app .loader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#app .loader .loading {
  display: flex;
}
#app .loader .loading .dot {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0.4em;
  border-radius: 50%;
}
#app .loader .loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
#app .loader .loading .dot:nth-child(1) {
  background: #7ef9ff;
}
#app .loader .loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
#app .loader .loading .dot:nth-child(2) {
  background: #89cff0;
}
#app .loader .loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
#app .loader .loading .dot:nth-child(3) {
  background: #4682b4;
}
#app .loader .loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
#app .loader .loading .dot:nth-child(4) {
  background: #0f52ba;
}
#app .loader .loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
#app .loader .loading .dot:nth-child(5) {
  background: #000080;
}
#app .loader .loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
