* {
  margin: 0;
  padding: 0;
  font-family: "OpenSauceOneRegular", sans-serif;
  font-size: 16px;
}

.product_card {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(203, 247, 248);
}
.product_card .product {
  position: relative;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.product_card .product .top_card {
  display: flex;
  flex-direction: column;
}
.product_card .product .top_card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product_card .product .product_info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.product_card .product .product_info .tooltip {
  font-size: 10px;
  font-weight: 100;
  visibility: hidden;
  color: #000;
  background-color: white;
  position: absolute;
  top: 75%;
  left: 105%;
  width: 150%;
  padding: 5px 2px;
  z-index: 1;
}
.product_card .product .product_info .tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
.product_card .product .product_info:hover .tooltip {
  visibility: visible;
}
.product_card .product .product_info .promo {
  position: relative;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 900;
  color: white;
  background-image: url("https://images.tokopedia.net/img/phOWBv/2022/10/1/3dc50580-fd9e-43e4-9d0c-da5eb2a0bb38.png");
  background-position: right bottom;
  background-size: cover;
  margin-bottom: 4px;
}
.product_card .product .product_info .promo .tooltip {
  font-size: 10px;
  font-weight: 100;
  visibility: hidden;
  color: #000;
  background-color: white;
  position: absolute;
  top: 75%;
  left: 105%;
  width: 150%;
  padding: 5px 2px;
  z-index: 1;
}
.product_card .product .product_info .promo .tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
.product_card .product .product_info .promo:hover .tooltip {
  visibility: visible;
}
.product_card .product .product_info .title {
  padding-left: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product_card .product .product_info .price {
  padding-left: 12px;
  font-size: 16px;
  font-weight: 700;
}
.product_card .product .product_info .discount {
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: baseline;
}
.product_card .product .product_info .discount .discount_percent {
  background-color: rgb(255, 205, 205);
  color: red;
  font-weight: 600;
  font-size: 0.714286rem;
  padding: 5px;
  border-radius: 3px;
}
.product_card .product .product_info .discount .start_price {
  text-decoration: line-through;
  font-size: 0.714286rem;
  color: rgb(87, 87, 87);
}
.product_card .product .product_info .shop_loc_name {
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-start;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product_card .product .product_info .shop_loc_name .badge img {
  width: 20px;
  height: 20px;
}
.product_card .product .product_info .shop_loc_name .loc_name {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  transition: 300ms ease;
}
.product_card .product .product_info .shop_loc_name .loc_name .loc, .product_card .product .product_info .shop_loc_name .loc_name .name {
  font-size: 14px;
  color: rgb(87, 87, 87);
}
.product_card .product .product_info .rate {
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 6px;
}
.product_card .product .product_info .rate .star {
  color: #FDCC0D;
}
.product_card .product .product_info .rate .review {
  font-size: 14px;
  color: rgb(128, 128, 128);
}
.product_card .product .add_wishlist {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.product_card .product .add_wishlist .add_wishlist_item {
  position: relative;
  display: inline-block;
}
.product_card .product .add_wishlist .add_wishlist_item img {
  height: 16px;
  width: 16px;
  padding: 5px;
}
.product_card .product .add_wishlist .add_wishlist_item img:hover {
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
}
.product_card .product .add_wishlist .add_wishlist_item .wishlist {
  font-size: 14px;
  visibility: hidden;
  width: 180px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: -12px;
  left: 300%;
}
.product_card .product .add_wishlist .add_wishlist_item .wishlist::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
.product_card .product .add_wishlist .add_wishlist_item:hover .wishlist {
  visibility: visible;
}
.product_card .product:hover .loc_name {
  transform: translateY(-26px);
}
