* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(146, 248, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    .slides {
        width: 1208px;
        height: 302px;
        overflow: hidden; 
        border-radius: 20px;


        .slide_wrap {
            width: 300%;
            display: flex;
            flex-direction: row;
            column-gap: 0;

            input {
                display: none;
            }

            .image {
                width: 1208px;
                height: 302px;
                transition: 3s;
            }

            .nav_auto {
                position: absolute;
                width: 1208px;
                display: flex;
                column-gap: 20px;
                height: 302px;
                align-items: flex-end;
                justify-content: center;

                div {
                    border: 2px solid rgba(167, 167, 167, 0.863);
                    padding: 5px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 1s;
                }

            }

            .nav_manual {
                position: absolute;
                width: 1208px;
                display: flex;
                column-gap: 20px;
                height: 302px;
                align-items: flex-end;
                justify-content: center;

                .manual_btn {
                    border: 2px solid rgba(167, 167, 167, 0.863);
                    padding: 5px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 1s;
                
                    &:hover {
                        background: rgba(167, 167, 167, 0.863);
                    }
                }
            }
            

            #radio1:checked ~ .first {
                margin-left: 0;
            }
            #radio2:checked ~ .first {
                margin-left: -1208px;
            }
            #radio3:checked ~ .first {
                margin-left: -2416px;
            }

            #radio1:checked ~ .nav_auto .auto_btn1 {
                background:  rgba(167, 167, 167, 0.863);
            }
            #radio2:checked ~ .nav_auto .auto_btn2 {
                background:  rgba(167, 167, 167, 0.863);
            }#radio3:checked ~ .nav_auto .auto_btn3 {
                background:  rgba(167, 167, 167, 0.863);
            }
        }
    }
}