<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/evernote_duplicate/styles/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>Evernote Duplicate Views</title>
    </head>
    <body>
        <div class="top">
            <div class="header">
                <div class="header_items">
                    <h1 class="logo"><a href="base.html"><img src="https://evernote.com/img/logo/evernote/primary.svg" alt="Evernote"></a></h1>
                    <ul class="left_items">
                        <li><a href="#my_evernote">WHY EVERNOTE</a></li>
                        <li><a href="#features">FEATURES</a></li>
                        <li><a href="#for_individuals">FOR INDIVIDUALS</a></li>
                        <li><a href="#for_teams">FOR TEAMS</a></li>
                    </ul>
                    <ul class="right_items">
                        <li><a href="#help">Help</a></li>
                        <li><a href="#logon">Log In</a></li>
                    </ul>
                    <div class="download"><a href="#download">Download</a></div>
                </div>
            </div>        
        </div>
        <div class="content">
            <div class="wrap_content">
                <div class="first_content">
                    <h2>Which Evernote is right for me?</h2>
                    <div class="payments">
                        <div class="monthly">
                            <a href="#">Pay Monthly</a>
                        </div>
                        <div class="yearly">
                            <a href="#">Pay Yearly</a>
                        </div>
                    </div>
                </div>
                <div class="offer">
                    <div class="items">
                        <div class="offer_content">
                            <h4 class="title">FREE</h4>
                            <p class="price">IDR 0</p>
                            <h5 class="detail">Capture ideas and find them quickly</h5>
                            <ul class="advantages">
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Take great notes
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Sync up to 2 devices
                                    </span>
                                    <i style="font-size: 11px; color: #777; transform: rotate(180deg)" class="bi bi-exclamation-circle"></i>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        60 MB monthly uploads
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        25 MB max. note size
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Get organized with Home dashboard and 3 widgets
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Stay on top of it all with in-note tasks
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Find things fast with search and tags
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Clip web pages
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Attach PDFs, receipts, files, photos, images, and documents
                                    </span>
                                </li>
                            </ul>
                            <button class="normal_button">Get Started</button>
                        </div>
                        <div class="offer_content">
                            <h4 class="title">PERSONAL</h4>
                            <h4 class="hargacoret"><del>IDR 69,000.00</del></h4>
                            <p class="price">IDR 58,250.00 /</p>
                            <p class="type">MONTH
                                <span class="priceunit">Pay IDR 699,000.00 / YEAR</span>
                            </p>
                            <h5 class="detail">Keep home and family on track</h5>
                            <ul class="advantages">
                                <li class="previous_advantage">
                                    <i class="bi bi-arrow-left-short"></i>
                                    <span>EVERYTHING IN FREE, PLUS:</span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Sync unlimited devices
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Sync unlimited devices
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        200 MB max. note size
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Customize Home dashboard and access extra widgets
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Connect primary Google Calendar account
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Add due dates, reminders, and notifications to your tasks
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Manage tasks in one place
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Get offline access on mobile and desktop
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Search text inside images, docs, and PDFs
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Create custom templates
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Mark up images and PDFs
                                    </span>
                                </li>
                            </ul>
                            <button class="normal_button">Choose Personal</button>
                        </div>
                        <div class="offer_content">
                            <h4 class="title">PROFESIONAL</h4>
                            <p class="hargacoret"><del>IDR 89,000.00</del></p>
                            <p class="price">IDR 74,916.67 /</p>
                            <p class="type">YEAR
                                <span class="priceunit">Pay IDR 899,000.00 / YEAR</span>
                            <h5 class="detail">Tackle any project, at work or at home</h5>
                            <ul class="advantages">
                                <li class="previous_advantage">
                                    <i class="bi bi-arrow-left-short"></i>
                                    <span>
                                        EVERYTHING IN PERSONAL, PLUS:
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Save 2x more content with 20 GB monthly uploads
                                    </span>
                                    <i style="font-size: 11px; color: #777; transform: rotate(180deg)" class="bi bi-exclamation-circle"></i>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Access to all widgets and customization for Home
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Connect both personal and workplace Google Calendar accounts
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Create, manage, and assign tasks to others, and easily track their progress
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Use Boolean terms to refine search results
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Find content by location with geographic search
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Export notebooks as PDF files
                                    </span>
                                </li>
                                <li>
                                    <i class="bi bi-check-lg"></i>
                                    <span>
                                        Integrate with Slack, Salesforce, Microsoft Teams, and others
                                    </span>
                                </li>
                            </ul>
                            <button class="normal_button">Choose Profesional</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
       

        <div class="footer">
            <div class="footer_items">
                <div class="wrap_item">
                    <div class="footer_item_title">PRODUCT</div>
                    <ul>
                        <li>
                            <a href="#">Why Evernote</a>
                        </li>
                        <li>
                            <a href="#">Evernote Free</a>
                        </li>
                        <li>
                            <a href="#">Evernote Personal</a>
                        </li>
                        <li>
                            <a href="#">Evernote Professional</a>
                        </li>
                        <li>
                            <a href="#">Evernote Teams</a>
                        </li>
                        <li>
                            <a href="#">Compare Plans</a>
                        </li>
                        <li>
                            <a href="#">Student Discount</a>
                        </li>
                        <li>
                            <a href="#">Download App</a>
                        </li>
                    </ul>
                </div>
                <div class="wrap_item">
                    <div class="footer_item_title">FEATURES</div>
                    <ul>
                        <li>
                            <a href="#">Web Clipper</a>
                        </li>
                        <li>
                            <a href="#">Templates</a>
                        </li>
                        <li>
                            <a href="#">Spaces</a>
                        </li>
                        <li>
                            <a href="#">Integrations</a>
                        </li>
                        <li>
                            <a href="#">Notes Sync</a>
                        </li>
                        <li>
                            <a href="#">PDF & Doc Search</a>
                        </li>
                        <li>
                            <a href="#">Document Scanner</a>
                        </li>
                        <li>
                            <a href="#">Notebooks & Tags</a>
                        </li>
                        <li>
                            <a href="#">Tasks</a>
                        </li>
                        <li>
                            <a href="#">Calendar</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Search</a>
                        </li>
                    </ul>
                </div>
                <div class="wrap_item">
                    <div class="footer_item_title">RESOURCES</div>
                    <ul>
                        <li>
                            <a href="#">Resources</a>
                        </li>
                        <li>
                            <a href="#">Make Connections</a>
                        </li>
                        <li>
                            <a href="#">Become an Expert</a>
                        </li>
                        <li>
                            <a href="#">Find an Expert</a>
                        </li>
                        <li>
                            <a href="#">Early Access</a>
                        </li>
                        <li>
                            <a href="#">Affiliates</a>
                        </li>
                        <li>
                            <a href="#">Developers</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="wrap_item">
                    <div class="footer_item_title">SUPPORT</div>
                    <ul>
                        <li>
                            <a href="#">Help&Learning</a>
                        </li>
                        <li>
                            <a href="#">Troubleshooting</a>
                        </li>
                        <li>
                            <a href="#">Forum</a>
                        </li>
                    </ul>
                </div>
                <div class="wrap_item">
                    <div class="footer_item_title">COMPANY</div>
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Career</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>