<html>
    <head>
        <link rel="stylesheet" href="/styles/test.css">
    </head>
    <body>
        <div style="background-color: red; height: 50px;" class="navbar">
            <div class="left">
                <div class="logo" style="background-color: grey; widht: 20%;">Logo</div>
                <div class="menu">Menu</div>
            </div>
            <div class="right">
                <div class="bantuan">Bantuan</div>
            </div>
        </div>
        <div style="background-color: yellow; height: 100%;">
            <div style="background-color: green; height:200px;"></div>
        </div>


    </body>
</html>